@model List<PhonesMVC.Models.PhoneClient>

@{
    ViewData["Title"] = "Clients";
}

<h1>Phone clients list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Birth date</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Surname</td>
                <td>@client.Name</td>
                <td>@client.BirthDate.ToString("dd-MM-yyyy")</td>
                <td>@client.Phone</td>
                <td>@client.Address</td>
                <td>@client.Description</td>
                <td> <a href="PhoneClients/View/@client.Id">View</a> </td>
            </tr>
        }
    </tbody>
</table>